Source: ucc
Section: utils
Priority: optional
Maintainer: Erhan Bilgili <erhan.bilgili@gmail.com>
Build-Depends: cmake (>= 3.20),
               extra-cmake-modules,
               g++ (>= 9),
               nlohmann-json3-dev,
               qt6-base-dev (>= 6.0),
               qt6-declarative-dev,
               qt6-connectivity-dev,
               qt6-charts-dev,
               qt6-tools-dev,
               libplasma-dev (>= 6.0),
               libkf6config-dev,
               libkf6coreaddons-dev,
               libkf6package-dev,
               libkf6windowsystem-dev,
               libsystemd-dev,
               libxrandr-dev,
               libudev-dev,
               pkgconf
Standards-Version: 4.6.1
Homepage: https://github.com/tuxedocomputers/uniwill-control-center
Vcs-Git: https://github.com/tuxedocomputers/uniwill-control-center.git

Package: ucc
Architecture: any
Section: utils
Depends: ${shlibs:Depends}, ${misc:Depends},
         systemd,
         qt6-qpa-plugins,
         plasma-workspace (>= 6.0),
         policykit-1
Recommends: tuxedo-drivers
Description: Uniwill Control Center
 Uniwill Control Center (UCC) is a comprehensive system control application
 suite for Uniwill (Tuxedo, XMG etc.) computers. Includes the system daemon,
 graphical user interface, command-line tool and KDE Plasma system-tray applet.
 .
 Features:
  - Fan control management
  - Keyboard backlight control
  - Display settings
  - CPU power management
  - Water cooler monitoring and control
  - System monitoring
  - KDE Plasma applet for system tray integration
