#!/usr/bin/make -f
# -*- makefile -*-

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ -Scmake

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo \
		-DBUILD_GUI=ON \
		-DBUILD_TRAY=ON \
		-DBUILD_GNOME=ON \
		-DBUILD_CLI=ON

override_dh_auto_install:
	DESTDIR=$(CURDIR)/debian/tmp cmake --install obj-x86_64-linux-gnu
	# Create configuration directory
	mkdir -p debian/tmp/etc/ucc
	chmod 755 debian/tmp/etc/ucc

override_dh_installdocs:
	dh_installdocs README.md

override_dh_installsystemd:
	dh_installsystemd --name=uccd
