[Unit]
Description=Uniwill Control Center Daemon
Documentation=man:uccd(8)
After=dbus.service
Requires=dbus.service

[Service]
Type=dbus
BusName=com.uniwill.uccd
ExecStart=/usr/bin/uccd --start
Restart=on-failure
RestartSec=5s
TimeoutStopSec=10s
User=root
StandardOutput=journal
StandardError=journal
SyslogIdentifier=uccd

# Security hardening
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
NoNewPrivileges=true
ReadWritePaths=/etc/ucc /run /sys/class/leds /sys/devices
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
RestrictNamespaces=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
CapabilityBoundingSet=CAP_SYS_RAWIO CAP_NET_ADMIN CAP_SYS_ADMIN
AmbientCapabilities=CAP_SYS_RAWIO CAP_NET_ADMIN CAP_SYS_ADMIN

[Install]
WantedBy=multi-user.target
